<div class="container">
  {{#each products}}
  <section class="card">
    <img src="/img/{{this.product.thumbnails}}" alt="Imagen de prueba" class="card-img">
    <h2>{{product.title}}</h2>
    <p><span>Categoria</span>: {{product.category}}</p>
    <article class="card-price">
      <p><span>Precio</span>: {{product.price}}</p>
      <p><span>Stock</span>: {{product.stock}}</p>   
    </article>
    <p><span>Cod. producto</span>: {{product.code}}</p>
  </section>
  {{/each}}
</div>

<div class="purchase-summary">
  <h3>Total de la compra:</h3>
  <p>{{totalPurchaseAmount}}</p>
  <button class="complete-purchase">Completar compra</button>
</div>
<script src="/js/cartPuchase.js"></script>