<div class="encabezado">
   <h1>Catalogo de productos</h1> 
</div>
<div class="container">
{{#each products}}
<section class="card">
<img src="#" alt="Imagen de prueba" class="card-img">
<h2>{{title}}</h2>
<p><span>Categoria</span>: {{category}}</p>
<article class="card-price">
<p><span>Precio</span>: {{price}}</p>
<p><span>Stock</span>: {{stock}}</p>   
</article>
<p><span>Cod. producto</span>: {{code}} </p>
</section>
{{/each}}
</div>
