<header>
   <div class="header">
   <h2>Bienvenido:</h2> <p>{{user.first_name}} {{user.last_name}}</p> 
   <h3>Email:</h3><p>{{user.email}}</p>
   <h3>Age:</h3> <p>{{user.age}}</p>
   <h3>Role:</h3> <p>{{user.role}}</p>

   <div class="logout">
      <a href="/api/auth/logout" role="button">Salir</a>
      <p style="color: black">Boton temporal /current -- /cart</p>
      <a href="/api/auth/current" role="button">current</a>
      <a href="/api/carts/cart" role="button">Carrito</a>
   </div>
</div>
</header>
<div class="encabezado">
   <h1>Catalogo de productos</h1> 
</div>
<div class="container">
{{#each payload}}
<section class="card">
<img src="/img/{{thumbnails}}" alt="Imagen de prueba" class="card-img">
      <h3>{{title}}</h3>
      <p><span>Categoria</span>: {{category}}</p>
      <article class="card-price">
        <p><span>Precio</span>: {{price}}</p>
        <p><span>Stock</span>: {{stock}}</p>   
      </article>
      <p><span>Cod. producto</span>: {{code}}</p>
      <button class="card-boton-borrar agregarACarrito" data-id="{{_id}}">Agregar al carrito</button>
        <button class="card-boton-borrar verDetalle" data-id="{{_id}}">Ver detalle</button>
</section>
{{/each}}
</div>
<section class="pagination">
   <a href="{{prevLink}}">Prev </a>
   <a href="{{nextLink}}">Next </a>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>
